doctype html
html
	head
		include includes/_head.pug
		title Login - MyAssist Admin

	body
		section.material-half-bg
			.cover

		section.login-content
			.logo: h1 MyAssist

			.login-box
				form.login-form(action=baseUrl+'/login', method='POST')
					h3.login-head
						i.fa.fa-lg.fa-fw.fa-user
						| SIGN IN

					- if (messages.info)
						.alert.alert-danger.alert-dismissable
							button.close(type='button', data-dismiss='alert', aria-hidden='true') × 
							| #{messages.info}

					.form-group
						label.control-label NIK
						input.form-control(name="nik", type="text", placeholder="NIK", autofocus)

					.form-group
						label.control-label Kata sandi
						input.form-control(name="password", type="password", placeholder="Password")

					.form-group.btn-container
						button.btn.btn-primary.btn-block(type="submit")
							i.fa.fa-sign-in.fa-lg.fa-fw
							| SIGN IN

		include includes/_javascript.pug

		script(type="text/javascript").
			// Login Page Flipbox control
			$('.login-content [data-toggle="flip"]').click(function() {
				$('.login-box').toggleClass('flipped');
				return false;
			});